{* Latte template *}

{block content}
<div class="row">
    <div class="col-sm-12 col-xs-12" n:inner-foreach="$archiveIntervalNames as $archiveInterval => $archiveIntervalName">
        <a rel="nofollow" n:href="this $meteoStation->id,$archiveInterval" n:class="($archiveInterval===$archiveIntervalCurrent || ($archiveIntervalCurrent === NULL && $iterator->isFirst() ))?active, btn, btn-success " role="button">{_$archiveIntervalName}</a>
    </div>
</div>

<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-sm-12">
        {foreach $archive as $archiveRecord}
            {first 3}
                <div class="row">
                {/first}
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$meteoStation->description}&nbsp;<small>{_}update at{/_}&nbsp;{$archiveRecord->datetime}&nbsp;<span n:if="$archiveRecord->period !== NULL" class="label label-success">{$archiveRecord->periodText}</span></small></h3>
                        </div>
                        <div class="panel-body">
                            {control dataPresent:weatherInfo $archiveRecord} 
                        </div>
                    </div>
                </div>
                {last 3}
                </div>
            {/last}
        {/foreach}
    </div>    
</div>