{* Latte template *}

{block content}
<div class="row">
    <div class="col-sm-12 col-xs-12">
        {foreach $years as $year}
            <a n:href="this $year->device->id,$year->year" n:class="($yearCurrentArchiveRecordFinder==$year)?active, btn, btn-success " role="button">{$year->year}</a>
        {/foreach}
    </div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-sm-12">
        {foreach $archive as $archiveRecord}
            {first 3}
                <div class="row">
                {/first}
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h1 class="panel-title">{$archiveRecord->device->description} <small>update at {$archiveRecord->datetime}</small></h1>
                        </div>
                        <div class="panel-body">
                            <a n:href="VideoCameras:imageArchive $archiveRecord->device->id, $archiveRecord->datetime->getTimestamp()">
                                <img data-src="holder.js/640x360?auto=yes&text={$archiveRecord->device->description}" alt="{$archiveRecord->device->name}" class="img-thumbnail" id="kamera-{$archiveRecord->datehour}" src="{link VideoCameras:imageArchive $archiveRecord->device->id, $archiveRecord->datetime->getTimestamp()}">
                            </a>
                        </div>
                    </div>
                </div>
                {last 3}
                </div>
            {/last}
        {/foreach}
    </div>    
</div>