{contentType text/plain}
{if $apache->SSL}
<VirtualHost *:{$apache->port}>
    ServerAdmin {$apache->serverAdmin}
    ServerName  {$apache->serverName}
    {ifset $apache->serverAlias}ServerAlias {$apache->serverAlias}{/ifset}
      
    RewriteEngine On
    RewriteCond %{l}HTTPS{r} off
    RewriteRule (.*) https://%{l}HTTP_HOST{r}%{l}REQUEST_URI{r} [R=301,L]

    {if $letsEncrypt->documentRoot}
    Alias /.well-known/ {$letsEncrypt->documentRoot}/.well-known/

    <Directory {$letsEncrypt->documentRoot}/.well-known/>
        AllowOverride None
        Require all granted
        Satisfy Any
    </Directory>
    {/if}
</VirtualHost>

    
{/if}
<VirtualHost *:{($apache->SSL)?$apache->portSSL:$apache->port}>
    ServerAdmin {$apache->serverAdmin}
    ServerName  {$apache->serverName}
    {ifset $apache->serverAlias}ServerAlias {$apache->serverAlias}{/ifset}

    RewriteEngine on
    SSLProxyEngine on    
    {if $apache->cache}    
    <IfModule mod_cache.c>               
        CacheQuickHandler off
        CacheDefaultExpire {$apache->cacheDefaultExpire}
        CacheMaxExpire {$apache->cacheMaxExpire} 

        # the origin server do not provide last-modified
        CacheIgnoreNoLastMod On
        CacheIgnoreCacheControl On        
        
        # the origin server define cache-control: private, no-store only for user agents
        # Therefore, I would like ignore those headers on the proxy server.
        CacheStorePrivate On
        CacheStoreNoStore On
      
        CacheEnable disk /
          
        CacheDetailHeader on
        CacheHeader on
          
        CustomLog "${l}APACHE_LOG_DIR{r}/{$apache->serverName}-cached-requests.log" common env=cache-hit
        CustomLog "${l}APACHE_LOG_DIR{r}/{$apache->serverName}-uncached-requests.log" common env=cache-miss
        CustomLog "${l}APACHE_LOG_DIR{r}/{$apache->serverName}-revalidated-requests.log" common env=cache-revalidate
        CustomLog "${l}APACHE_LOG_DIR{r}/{$apache->serverName}-invalidated-requests.log" common env=cache-invalidate
        
        <IfModule mod_expires.c>
            ExpiresActive On
            ExpiresDefault "access plus 5 minutes"
        </IfModule>
    </IfModule>
    {/if}
       
    {if $apache->SSL}
    SSLEngine on
   
    
        {if $letsEncrypt->configDir}
    # Intermediate configuration, tweak to your needs
    SSLProtocol             all -SSLv2 -SSLv3
    SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    SSLHonorCipherOrder     on
    SSLCompression          off
            
    SSLCertificateFile    {$letsEncrypt->configDir}/live/{$apache->serverName}/cert.pem
    SSLCertificateKeyFile {$letsEncrypt->configDir}/live/{$apache->serverName}/privkey.pem
    SSLCACertificateFile  {$letsEncrypt->configDir}/live/{$apache->serverName}/chain.pem
        {else}            
    SSLCertificateFile      {$apache->configDir}/../ssl.crt/{$apache->serverName}.crt
    SSLCertificateKeyFile   {$apache->configDir}/../ssl.key/{$apache->serverName}.key
#    SSLCertificateChainFile {$apache->configDir}/../ssl.crt/{$apache->serverName}-chain.crt
        {/if}
    {/if}
    {var $videoCamerasWatermark = array();}  
    {foreach $videoCameras as $videoCamera}
    {if $videoCamera->watermark}{var $videoCamerasWatermark[] = $videoCamera}{/if}    
{if $videoCamera->url->query}    RewriteRule {link ':VideoCameras:'.($videoCamera->watermark?'videoSecure':'video'), $videoCamera->name} {link ':VideoCameras:'.($videoCamera->watermark?'videoSecure':'video'), $videoCamera->name}?{$videoCamera->url->query} [PT,L]
{/if}    ProxyPass {link ':VideoCameras:'.($videoCamera->watermark?'videoSecure':'video'), $videoCamera->name} {$videoCamera->url->hostUrl . $videoCamera->url->path}
    ProxyPassReverse {link ':VideoCameras:'.($videoCamera->watermark?'videoSecure':'video'), $videoCamera->name} {$videoCamera->url->hostUrl . $videoCamera->url->path}        
    {/foreach}
    {var $meteoStationsWatermark = array();} 
    {foreach $meteoStations as $meteoStation}
    {if $meteoStation->watermark}{var $meteoStationsWatermark[] = $meteoStation}{/if}
{if $meteoStation->url->query}    RewriteRule {link ':MeteoStations:'.($meteoStation->watermark?'xmlSecure':'xml'), $meteoStation->name} {link ':MeteoStations:'.($meteoStation->watermark?'xmlSecure':'xml'), $meteoStation->name}?{$meteoStation->url->query} [PT,L]
{/if}    ProxyPass {link ':MeteoStations:'.($meteoStation->watermark?'xmlSecure':'xml'), $meteoStation->name} {$meteoStation->url->hostUrl . $meteoStation->url->path}
    ProxyPassReverse {link ':MeteoStations:'.($meteoStation->watermark?'xmlSecure':'xml'), $meteoStation->name} {$meteoStation->url->hostUrl . $meteoStation->url->path}       
    {/foreach}
    
    {foreach $videoCamerasWatermark as $videoCamera}
    RewriteCond %{l}REQUEST_URI{r}  ^{link ':VideoCameras:video', $videoCamera->name}$ [NC{sep},OR{/sep}]
{last}    RewriteRule /video-camera/([0-9a-z]*)/video.jpg /watermark/render?target=$1       [P,L]{/last}{/foreach}
    
    {foreach $meteoStationsWatermark as $meteoStation}
    RewriteCond %{l}REQUEST_URI{r}  ^{link ':MeteoStations:xml', $meteoStation->name}$ [NC{sep},OR{/sep}]
{last}    RewriteRule /meteo-station/([0-9a-z]*)/status.xml /watermark/render?target=$1       [P,L]{/last}{/foreach}        
    <Proxy *>
        # unset headers from upstream server
        Header unset Expires
        Header unset Cache-Control
        Header unset Pragma    
        Header unset Cookie 
    </Proxy>
    {foreach $videoCameras as $videoCamera}
        {if $videoCamera->authenticated}
    <Proxy {$videoCamera->url->hostUrl . $videoCamera->url->path}>
        RequestHeader set Authorization "Basic {$videoCamera->baseAuthorization}"
    </Proxy>
        {/if}
    {/foreach}    
    {foreach $meteoStations as $meteoStation}
        {if $meteoStation->authenticated}
    <Proxy {$meteoStation->url->hostUrl . $meteoStation->url->path}>
        RequestHeader set Authorization "Basic {$meteoStation->baseAuthorization}"
    </Proxy>
        {/if}
    {/foreach}  

    <Location "{link ':MeteoStations:xmlSecure'}">
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1 ::1 localhost ip6-localhost
        <RequireAny>
            Require local
        </RequireAny>  
    </Location>
        
    <Location "{link ':VideoCameras:videoSecure'}">
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1 ::1 localhost ip6-localhost
        <RequireAny>
            Require local
        </RequireAny>    
    </Location>       
{if !empty($apache->serverStatus)}

    <IfModule mod_status.c>
        <Location {$apache->serverStatus}>
            SetHandler server-status
            Order deny,allow
            Deny from all
            Allow from 127.0.0.1 localhost ip6-localhost
            <RequireAny>
                Require local
            </RequireAny>
        </Location>        
    </IfModule>
{/if}

{if $apache->webServer}
    DocumentRoot {$apache->documentRoot}

    <Directory {$apache->documentRoot}>
        RewriteEngine ON
        AllowOverride All
        Options FollowSymLinks        
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
{/if}

    {if $letsEncrypt->documentRoot}
        Alias /.well-known/ {$letsEncrypt->documentRoot}/.well-known/

        <Directory {$letsEncrypt->documentRoot}/.well-known/>
            AllowOverride None
            Require all granted
            Satisfy Any
    </Directory>
{/if}
</VirtualHost>