{contentType aplication/xml}
<?xml version="1.0" encoding="UTF-8" ?>
<urlset
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
    http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    {foreach $sitemap as $menuItem}
    <url n:if="(($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuLink) && $menuItem->linkDestination !==NULL && ($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuSiteMap) && $menuItem->siteMap)">
        <loc>{link $menuItem->linkDestination (expand) $menuItem->linkArgs}</loc>
        <lastmod n:ifcontent>{$menuItem->siteMapLastmod}</lastmod>
        <changefreq n:ifcontent>{$menuItem->siteMapChangefreq}</changefreq>
        <priority n:ifcontent>{$menuItem->siteMapPriority}</priority>
    </url>
    {/foreach}    
</urlset>