{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        {control meta $menu,$presenter}

        <title>{ifset #title}{include title|striptags} | {/ifset}Spolek Křivonet - Kamery a meteostanice</title>

        <meta name="description" content="Kamery a meteostanice na Křivoklátě a v jeho okolí.">
        <meta name="keywords" content="kamery, web kamery, meteostanice, Křivoklátsko">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap Core CSS -->
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{$basePath}/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

        <!-- MetisMenu CSS -->
        <link href="{$basePath}/css/metisMenu.min.css" rel="stylesheet" type="text/css">

        <!-- Custom Fonts -->
        <link href="{$basePath}/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">

        <link href="{$basePath}/css/bootstrap-fix.css" rel="stylesheet" type="text/css">
        <link href="{$basePath}/css/legalNotice.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">

        <!-- jQuery -->
        <script src="{$basePath}/js/jquery.min.js"></script>
        <script src="{$basePath}/js/jquery.cookie.js"></script>

        {block head}{/block}

  
    </head> 
    <body>
        <script> document.documentElement.className += ' js'</script>
        <div id="wrapper">

            {control headerMenu $headerMenuBrand,$menuHorizontalLeft,$menuHorizontalSearch,$menuHorizontalRight}

            <div id="page-wrapper">

                <div class="container-fluid">
                    <div class="row">
                        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
                    </div>

                    {control pageControl}

                    {include #content}

                    <div class="row">&nbsp;</div>
                </div>
                <!-- /.container-fluid -->

                {control legalNotice}

                {control footerMenu $menuFooter}
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        {block scripts}
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>        
        <script src="{$basePath}/js/main.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/holder.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{$basePath}/js/metisMenu.min.js"></script>

        <!-- Loads <model-viewer> for modern browsers: -->
        <script type="module"
                src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js">
        </script>

        <!-- Loads <model-viewer> for old browsers like IE11: -->
        <script nomodule
                src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
        </script>        

        <!-- GPS Picker -->
        <!-- script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script-->
        <!-- script src="{$basePath}/js/nette.gpsPicker.js"></script-->

        {control googleAnalytics}

        {/block}

        {block scriptsAdd}
        {/block}
    </body>
</html>
