{* Latte template *}

{block content}

<div class="page-header">
    <h1>Kamery a počasí na Křivoklátsku</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2><i class="fas fa-camera-retro"></i> {_}Video Cameras{/_}</h2>
        {foreach $videoCameras as $videoCamera}
            {first 3}
                <div class="row">
                {/first}
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$videoCamera->description}</h3>
                        </div>
                        <div class="panel-body">
                            <a n:href="Show:videocamera $videoCamera->id">
                                <img data-src="holder.js/640x360?auto=yes&text={$videoCamera->description}" alt="{$videoCamera->name}" class="img-thumbnail" id="kamera-{$videoCamera->name}" src="{link VideoCameras:imageThumbnail $videoCamera->id}">
                            </a>
                        </div>
                        <div class="panel-footer">
                            <a role="button" class="btn btn-info" n:if="$videoCamera->hasArchive" n:href="Archive:videocamera $videoCamera->id"><i class="fas fa-archive"></i> {_}Archive{/_}</a>&nbsp;
                            <a role="button" class="btn btn-info" n:if="!empty($videoCamera->snmpCommunity)" n:href="Mrtg:videocamera $videoCamera->id"><i class="fas fa-chart-area"></i> {_}Graphs{/_}</a>&nbsp;
                            <a role="button" class="btn btn-info" n:if="!empty($videoCamera->urlSource)" href="{$videoCamera->urlSource}"><i class="fas fa-globe"></i> {_}Source{/_}</a>
                        </div>
                    </div>
                </div>
                {last 3}
                </div>
            {/last}
        {/foreach}
    </div>    
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h2><i class="fas fa-cloud-sun"></i> {_}Meteo Stations{/_}</h2>
        </div>
        {foreach $meteoStations as $meteoStation}
            {first 3}
                <div class="row">
                {/first}
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$meteoStation->description}&nbsp;<small>{_}update at{/_}&nbsp;{$meteoStation->data->datetime}&nbsp;<span n:if="$meteoStation->data->period !== NULL" class="label label-success">{$meteoStation->data->periodText}</span></small></h3>
                        </div>
                        <div class="panel-body">
                            <a n:href="Show:meteostation $meteoStation->id">{control dataPresent:weatherInfo $meteoStation->data}</a> 
                        </div>
                        <div class="panel-footer">
                            <a role="button" class="btn btn-info" n:href="Archive:meteostation $meteoStation->id"><i class="fas fa-archive"></i> {_}Archive{/_}</a>&nbsp;
                            <a role="button" class="btn btn-info" n:href="Rrd:meteostation $meteoStation->id"><i class="fas fa-chart-area"></i> {_}Graphs{/_}</a>&nbsp;
                            <a role="button" class="btn btn-info" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:meteostation $meteoStation->id"><i class="fas fa-chart-area"></i> Mrtg {_}Graphs{/_}</a>&nbsp;
                            <a role="button" class="btn btn-info" n:if="!empty($meteoStation->urlSource)" href="{$meteoStation->urlSource}"><i class="fas fa-globe"></i> {_}Source{/_}</a>
                        </div>
                    </div>
                </div>
                {last 3}
                </div>
            {/last}
        {/foreach}
    </div>    
</div>

