{* Latte template *}

{block content}
{snippet reload}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
            {control dataPresent:weatherDetail $data}
        </div>
    </div>
    <script>
        $(function () {
            reload();
        });
    </script>
{/snippet}
{/block}
{block scriptsAdd}
<script>

    function reload() {
        setTimeout(function () {
            updatePage({link reload!});
        }, {$refresh});
    }

</script>
{/block}