{* Latte template *}

{block content}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 n:block="title" class="panel-title">{$videoCamera->description}</h1>
            </div>
            <div class="panel-body">
                <a href="#" id="pop">
                    <img id="imageresource" data-src="holder.js/640x360?auto=yes&text={$videoCamera->description}" alt="{$videoCamera->name}" data-src-base="{link VideoCameras:imageFull $videoCamera->id, $time}" src="{link VideoCameras:imageFull $videoCamera->id, $time}" class="img-thumbnail" id="kamera" onLoad="reload(this);">
                </a>
            </div>
        </div>  
    </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fit" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Image preview</h2>
            </div>
            <img class="modal-body img-responsive img-responsive-height" src="" id="imagepreview">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>                    

{/block}
{block scriptsAdd}
<script>
  function reload(target) {
        setTimeout(function () {
            updatePage({link reload!}, target);
        }, {$refresh});
    }

    $("#pop").on("click", function () {
        $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
        $('#imagepreview').attr('data-src-base', $('#imageresource').attr('data-src-base')); // here asign the image to the modal when the user click the enlarge link
        $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
    });
</script>
{/block}