{* Latte template *}

{block content}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Url</th>
                    <th>Private/Public</th>
                    <th>MRTG</th>            
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td colspan="6"></td>
                    <td><a class="btn btn-default" n:if="$user->isAllowed('videoCameras', 'private')" n:href="edit">New</a></td>
                </tr>
                {foreach $videoCameras as $videoCamera}
                    <tr>
                        <td>{$videoCamera->id}</td>
                        <td>{$videoCamera->name}</td>
                        <td>{$videoCamera->description}</td>
                        <td><a href="{$videoCamera->url}">{$videoCamera->url}</a></td>
                        <td><i n:if="$videoCamera->private" class="fas fa-lock" data-toggle="tooltip" data-placement="top" title="Video camera is private"></i><i n:if="!$videoCamera->private" class="fas fa-lock-open" data-toggle="tooltip" data-placement="top" title="Video camera is public"></i></td>
                        <td><a class="btn btn-default" n:if="!empty($videoCamera->snmpCommunity)" n:href="Mrtg:VideocameraHistory $videoCamera->name, $videoCamera->name, eth0">eth0</a></td>            
                        <td n:inner-foreach="$videoCamera->rrdGraphs as $graph">
                            <a class="btn btn-default" n:href="Rrd:Videocamera $videoCamera->id, $graph">{$graph}</a>
                        </td>
                        <td><a class="btn btn-default" n:if="$user->isAllowed('videoCameras', 'private')" n:href="edit $videoCamera->id">edit</a></td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div> 
<!-- /.row -->