{* Latte template *}

{block content}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Video Camera</h3>
            </div>
            <div class="panel-body">
                {control videoCameraForm}
            </div>
        </div>
    </div>
</div> 
<!-- /.row -->


