{* Latte template *}
{var $cx = $width/2; $cy = $height/2; $radius = 0.3 * min([($height - 4), ($width - 4)])}
{var $lineRadiusStart = $radius - $strokeWidth * 1.5; $lineRadiusStop = $radius + $strokeWidth * 1.5}
{var $fontSize = $strokeWidth * 5}
{cache $cacheKey}
    <svg height="{$height}" width="{$width}">
    <circle cx="{$cx}" cy="{$cy}" r="{$radius}" stroke="{$colorScale}" stroke-width="{$strokeWidth}" fill="{$colorBackground}" />
    <path d="  
          M {$cx+($lineRadiusStart)*sin(0)}          {$cy+($lineRadiusStart)*cos(0)}          L {$cx+($lineRadiusStop)*sin(0)}          {$cy+($lineRadiusStop)*cos(0)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.125)} {$cy+($lineRadiusStart)*cos(pi()*0.125)} L {$cx+($lineRadiusStop)*sin(pi()*0.125)} {$cy+($lineRadiusStop)*cos(pi()*0.125)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.25)}  {$cy+($lineRadiusStart)*cos(pi()*0.25)}  L {$cx+($lineRadiusStop)*sin(pi()*0.25)}  {$cy+($lineRadiusStop)*cos(pi()*0.25)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.375)} {$cy+($lineRadiusStart)*cos(pi()*0.375)} L {$cx+($lineRadiusStop)*sin(pi()*0.375)} {$cy+($lineRadiusStop)*cos(pi()*0.375)}            
          M {$cx+($lineRadiusStart)*sin(pi()*0.5)}   {$cy+($lineRadiusStart)*cos(pi()*0.5)}   L {$cx+($lineRadiusStop)*sin(pi()*0.5)}   {$cy+($lineRadiusStop)*cos(pi()*0.5)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.625)} {$cy+($lineRadiusStart)*cos(pi()*0.625)} L {$cx+($lineRadiusStop)*sin(pi()*0.625)} {$cy+($lineRadiusStop)*cos(pi()*0.625)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.75)}  {$cy+($lineRadiusStart)*cos(pi()*0.75)}  L {$cx+($lineRadiusStop)*sin(pi()*0.75)}  {$cy+($lineRadiusStop)*cos(pi()*0.75)}
          M {$cx+($lineRadiusStart)*sin(pi()*0.875)} {$cy+($lineRadiusStart)*cos(pi()*0.875)} L {$cx+($lineRadiusStop)*sin(pi()*0.875)} {$cy+($lineRadiusStop)*cos(pi()*0.875)}     
          M {$cx+($lineRadiusStart)*sin(pi())}       {$cy+($lineRadiusStart)*cos(pi())}       L {$cx+($lineRadiusStop)*sin(pi())}       {$cy+($lineRadiusStop)*cos(pi())}
          M {$cx+($lineRadiusStart)*sin(pi()*1.125)} {$cy+($lineRadiusStart)*cos(pi()*1.125)} L {$cx+($lineRadiusStop)*sin(pi()*1.125)} {$cy+($lineRadiusStop)*cos(pi()*1.125)}
          M {$cx+($lineRadiusStart)*sin(pi()*1.25)}  {$cy+($lineRadiusStart)*cos(pi()*1.25)}  L {$cx+($lineRadiusStop)*sin(pi()*1.25)}  {$cy+($lineRadiusStop)*cos(pi()*1.25)}
          M {$cx+($lineRadiusStart)*sin(pi()*1.375)} {$cy+($lineRadiusStart)*cos(pi()*1.375)} L {$cx+($lineRadiusStop)*sin(pi()*1.375)} {$cy+($lineRadiusStop)*cos(pi()*1.375)}            
          M {$cx+($lineRadiusStart)*sin(pi()*1.5)}   {$cy+($lineRadiusStart)*cos(pi()*1.5)}   L {$cx+($lineRadiusStop)*sin(pi()*1.5)}   {$cy+($lineRadiusStop)*cos(pi()*1.5)}
          M {$cx+($lineRadiusStart)*sin(pi()*1.625)} {$cy+($lineRadiusStart)*cos(pi()*1.625)} L {$cx+($lineRadiusStop)*sin(pi()*1.625)} {$cy+($lineRadiusStop)*cos(pi()*1.625)}
          M {$cx+($lineRadiusStart)*sin(pi()*1.75)}  {$cy+($lineRadiusStart)*cos(pi()*1.75)}  L {$cx+($lineRadiusStop)*sin(pi()*1.75)}  {$cy+($lineRadiusStop)*cos(pi()*1.75)}
          M {$cx+($lineRadiusStart)*sin(pi()*1.875)} {$cy+($lineRadiusStart)*cos(pi()*1.875)} L {$cx+($lineRadiusStop)*sin(pi()*1.875)} {$cy+($lineRadiusStop)*cos(pi()*1.875)}
          " stroke="{$colorScale}" stroke-width="{$strokeWidth}" fill="{$colorBackground}"/>
    <text x="{$cx -($fontSize/3)}" y="{$cy-($lineRadiusStop)}"            style="font: bold {$fontSize|noescape}px sans-serif;fill: {$colorScale};">N</text>
    <text x="{$cx +($lineRadiusStop)}" y="{$cy+($fontSize/3)}"            style="font: bold {$fontSize|noescape}px sans-serif;fill: {$colorScale};">E</text>
    <text x="{$cx -($fontSize/3)}" y="{$cy+$lineRadiusStop+$fontSize}"    style="font: bold {$fontSize|noescape}px sans-serif;fill: {$colorScale};">S</text>
    <text x="{$cx - $fontSize - $lineRadiusStop}" y="{$cy+($fontSize/3)}" style="font: bold {$fontSize|noescape}px sans-serif;fill: {$colorScale};">W</text>
    <path d="  
          M {$cx+$strokeWidth*1}   {$cy+($lineRadiusStart)}                 
          L {$cx+$strokeWidth*1}   {$cy-($lineRadiusStart*3/5)}
          L {$cx+$strokeWidth*3}   {$cy-($lineRadiusStart*3/5)}
          L {$cx}                  {$cy-($lineRadiusStart)}
          L {$cx-$strokeWidth*3}   {$cy-($lineRadiusStart*3/5)}
          L {$cx-$strokeWidth*1}   {$cy-($lineRadiusStart*3/5)}
          L {$cx-$strokeWidth*1}   {$cy+($lineRadiusStart)}
          Z
          " stroke="{$colorNeedleOut}" stroke-width="{$strokeWidth}" fill="{$colorNeedleIn}" transform = "rotate({$angle} {$cx} {$cy})"/>
    </svg>
{/cache}