<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="{$icon}"></i>&nbsp;{_$name}</h4>
    </div>
    <div class="panel-body bg-primary" style="height: 96px;">
        <div n:if="is_numeric($value)" class="text-center text-nowrap">
            <p class="lead">{$value|number:$numberDigits}<span n:if="$unit">&nbsp;{_$unit|noescape}</span></p>
        </div>
        <div n:if="!is_numeric($value)" class="text-center text-nowrap">
            <p class="lead">{$value}<span n:if="$unit">&nbsp;{_$unit|noescape}</span></p>
        </div>
    </div>
</div> 