<div class="panel panel-primary ">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="{$icon}"></i>&nbsp;{_$name}</h4>
    </div>
    <div class="panel-body bg-primary" style="height: 96px;">
        <div class="text-nowrap text-center">
            <div class="col-sm-8 col-xs-8">
                <p class="lead">{$value}</p>
            </div>
            <div class="col-sm-4 col-xs-4">
                {control static:compass 75,75,2.5,$deg}
            </div>
        </div>
    </div>
</div> 