<div class="panel panel-success">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Weather information - {$weather->deviceName}&nbsp;at&nbsp;{$weather->datetime}&nbsp;<span n:if="$weather->period !== NULL" class="label label-success">{$weather->periodText}</span></h3>
    </div>
    <div class="panel-body row">

        <!-- WIND -->

        <div n:if="$weather->windDirDegrees !== NULL" class="col-sm-6">
            {control static:weatherWindDirection 'fas fa-cloud', 'Wind Direction', $weather->windDirText, $weather->windDirDegrees}
        </div>
        <div n:if="$weather->windSpeedMin !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-cloud', 'Min Wind Speed', $weather->windSpeedMin, 'm/s'}
        </div>
        <div n:if="$weather->windSpeed !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-cloud', 'Wind Speed', $weather->windSpeed, 'm/s'}
        </div>
        <div n:if="$weather->windSpeedMax !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-cloud', 'Max Wind Speed', $weather->windSpeedMax, 'm/s'}
        </div>
        <div n:if="$weather->windGust !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-cloud', 'Wind Gust', $weather->windGust, 'm/s'}
        </div>

        <!-- TEMPERATURE -->

        <div n:if="$weather->temperatureMin !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-thermometer-three-quarters', 'Min Temperature', $weather->temperatureMin, '°C'}
        </div>
        <div n:if="$weather->temperature !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-thermometer-three-quarters', 'Temperature', $weather->temperature, '°C'}
        </div>
        <div n:if="$weather->temperatureMax !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-thermometer-three-quarters', 'Max Temperature', $weather->temperatureMax, '°C'}
        </div>
        <div n:if="$weather->temperatureWindchill !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-thermometer-three-quarters', 'Windchill Temperature', $weather->temperatureWindchill, '°C'}    
        </div>
        <div n:if="$weather->temperatureDewPoint !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-thermometer-three-quarters', 'Dew Point Temperature', $weather->temperatureDewPoint, '°C'}
        </div>

        <!-- PRESSURE -->

        <div n:if="$weather->pressureMin !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fab fa-cloudscale', 'Min Pressure', $weather->pressureMin, 'hPa'}
        </div>
        <div n:if="$weather->pressure !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fab fa-cloudscale', 'Pressure', $weather->pressure, 'hPa'}
        </div>
        <div n:if="$weather->pressureMax !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fab fa-cloudscale', 'Max Pressure', $weather->pressureMax, 'hPa'}
        </div>

        <!-- HUMIDITY -->

        <div n:if="$weather->humidityRelative !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-tint', 'Relative Humidity', $weather->humidityRelative, '%'}
        </div>
        <div n:if="$weather->humidityAbsolute !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-tint', 'Absolute Humidity', $weather->humidityAbsolute, "g/m<sup>3</sup>"}
        </div> 

        <!-- OTHER -->

        <div n:if="$weather->altitudeBarometric !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-mountain', 'Barometric Altitude', $weather->altitudeBarometric, 'm'}
        </div>
        <div n:if="$weather->seasonText !== NULL" class="col-sm-6">
            {control static:weatherDetailItem 'fas fa-calendar', 'Season', $weather->seasonText, ''}
        </div>

    </div>
    <div class="panel-footer">
        <span n:if="$weather->temperatureSystem"><font color=gray>{_'System Temperature'}: {$weather->temperatureSystem} °C</font></span>
    </div>
</div>  