<div class="row" n:if="is_numeric($value)">
    <div class="col-sm-8"><i class="{$icon}"></i>&nbsp;{_$name}</div>
    <div class="col-sm-4 text-center text-nowrap">{$value|number:$numberDigits}<span n:if="$unit">&nbsp;{_$unit|noescape}</span>
    </div>
</div>
<div class="row" n:if="!is_numeric($value)">
    <div class="col-sm-8"><i class="{$icon}"></i>&nbsp;{_$name}</div>
    <div class="col-sm-4 text-center text-nowrap">{$value}<span n:if="$unit">&nbsp;{_$unit|noescape}</span></div>
</div>
