<ul n:if="!$weather->error" class="list-group">

    <!-- WIND -->

    <li n:if="$weather->windDirDegrees !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-cloud', 'Wind Direction', $weather->windDirText}
    </li>
    <li n:if="$weather->windSpeedMin !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-cloud', 'Min Wind Speed', $weather->windSpeedMin, 'm/s'}
    </li>   
    <li n:if="$weather->windSpeed !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-cloud', 'Wind Speed', $weather->windSpeed,'m/s'}
    </li>
    <li n:if="$weather->windSpeedMax !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-cloud', 'Max Wind Speed', $weather->windSpeedMax,'m/s'}
    </li> 
    <li n:if="$weather->windGust !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-cloud', 'Wind Gust', $weather->windGust,'m/s'}
    </li>

    <!-- TEMPERATURE -->

    <li n:if="$weather->temperatureMin !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'Min Temperature', $weather->temperatureMin,'°C'}
    </li>
    <li n:if="$weather->temperature !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'Temperature', $weather->temperature,'°C'}
    </li>
    <li n:if="$weather->temperatureMax !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'Max Temperature', $weather->temperatureMax,'°C'}
    </li>
    <li n:if="$weather->temperatureWindchill !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'Windchill Temperature', $weather->temperatureWindchill,'°C'}
    </li>
    <li n:if="$weather->temperatureDewPoint !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'Dew Point Temperature', $weather->temperatureDewPoint,'°C'}
    </li>
    <li n:if="$weather->temperatureSystem !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-thermometer-three-quarters', 'System Temperature', $weather->temperatureSystem,'°C'}
    </li>

    <!-- PRESSURE -->

    <li n:if="$weather->pressureMin !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fab fa-cloudscale', 'Min Pressure', $weather->pressureMin,'hPa'}
    </li>
    <li n:if="$weather->pressure !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fab fa-cloudscale', 'Pressure', $weather->pressure,'hPa'}
    </li>
    <li n:if="$weather->pressureMax !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fab fa-cloudscale', 'Max Pressure', $weather->pressureMax,'hPa'}
    </li>

    <!-- HUMIDITY -->

    <li n:if="$weather->humidityRelative !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-tint', 'Relative Humidity', $weather->humidityRelative,'%'}
    </li>
    <li n:if="$weather->humidityAbsolute !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-tint', 'Absolute Humidity', $weather->humidityAbsolute,'g/m<sup>3</sup>'}
    </li>

    <!-- OTHER -->

    <li n:if="$weather->altitudeBarometric !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-mountain', 'Barometric Altitude', $weather->altitudeBarometric,'m'}
    </li>
    <li n:if="$weather->seasonText !== NULL" class="list-group-item list-group-item-info">
        {control static:weatherInfoItem 'fas fa-calendar', 'Season', $weather->seasonText}
    </li>

</ul>
<div  n:if="$weather->error" class="text-center jumbotron">
    <h4>Preview is not available <i class="fas fa-frown"></i></h4>
</div>