<data type="weather information">
    <title>{$weather->deviceName}</title>
    <datetime period="{$weather->periodText}">{$weather->datetime}</datetime>
    <!-- WIND -->

    {if $weather->windDirDegrees !== NULL}
        {control static:weatherXMLItem 'windDirText', 'Wind Direction', $weather->windDirText, '°'}
    {/if}
    {if $weather->windSpeedMin !== NULL}
        {control static:weatherXMLItem 'windSpeedMin', 'Min Wind Speed', $weather->windSpeedMin, 'm/s'}
    {/if}
    {if $weather->windSpeed !== NULL}
        {control static:weatherXMLItem 'windSpeed', 'Wind Speed', $weather->windSpeed, 'm/s'}
    {/if}
    {if $weather->windSpeedMax !== NULL}
        {control static:weatherXMLItem 'windSpeedMax', 'Max Wind Speed', $weather->windSpeedMax, 'm/s'}
    {/if}
    {if $weather->windGust !== NULL}
        {control static:weatherXMLItem 'windGust', 'Wind Gust', $weather->windGust, 'm/s'}
    {/if}

    <!-- TEMPERATURE -->

    {if $weather->temperatureMin !== NULL}        
        {control static:weatherXMLItem 'temperatureMin', 'Min Temperature', $weather->temperatureMin, '°C'}
    {/if}
    {if $weather->temperature !== NULL}
        {control static:weatherXMLItem 'temperature', 'Temperature', $weather->temperature, '°C'}
    {/if}
    {if $weather->temperatureMax !== NULL}
        {control static:weatherXMLItem 'temperatureMax', 'Max Temperature', $weather->temperatureMax, '°C'}
    {/if}
    {if $weather->temperatureWindchill !== NULL}
        {control static:weatherXMLItem 'temperatureWindchill', 'Windchill Temperature', $weather->temperatureWindchill, '°C'}    
    {/if}
    {if $weather->temperatureDewPoint !== NULL}
        {control static:weatherXMLItem 'temperatureDewPoint', 'Dew Point Temperature', $weather->temperatureDewPoint, '°C'}
    {/if}

    <!-- PRESSURE -->

    {if $weather->pressureMin !== NULL}
        {control static:weatherXMLItem 'pressureMin', 'Min Pressure', $weather->pressureMin, 'hPa'}
    {/if}
    {if $weather->pressure !== NULL}
        {control static:weatherXMLItem 'pressure', 'Pressure', $weather->pressure, 'hPa'}
    {/if}
    {if $weather->pressureMax !== NULL}
        {control static:weatherXMLItem 'pressureMax', 'Max Pressure', $weather->pressureMax, 'hPa'}
    {/if}

    <!-- HUMIDITY -->

    {if $weather->humidityRelative !== NULL}
        {control static:weatherXMLItem 'humidityRelative','Relative Humidity', $weather->humidityRelative, '%'}
    {/if}
    {if $weather->humidityAbsolute !== NULL}
        {control static:weatherXMLItem 'humidityAbsolute', 'Absolute Humidity', $weather->humidityAbsolute, 'g/m3'}
    {/if} 

    <!-- OTHER -->

    {if $weather->altitudeBarometric !== NULL}
        {control static:weatherXMLItem 'altitudeBarometric', 'Barometric Altitude', $weather->altitudeBarometric, 'm'}
    {/if}
    {if $weather->seasonText !== NULL}
        {control static:weatherXMLItem 'seasonText', 'Season', $weather->seasonText, ''}
    {/if}
    {if $weather->temperatureSystem !== NULL}
        {control static:weatherXMLItem 'temperatureSystem', 'System Temperature', $weather->temperatureSystem, '°C'}
    {/if}
</data>