{* Latte template *}

{block content}
{if $rrdGraphCurrent !== NULL}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div n:inner-foreach="$archiveIntervalNames as $archiveIntervalKey => $archiveIntervalName">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fas"></i> {_$rrdGraphCurrent |firstUpper} {_by} {_$archiveIntervalName |firstUpper}</h2>
                    </div>
                    <div class="panel-body">
                        <img id="graph-{$meteoStation->name}-{$rrdGraphCurrent}-{$archiveIntervalKey}" class="img-responsive center-block" data-src-refresh="{link Rrd:MeteostationGraphImage $meteoStation->id,$rrdGraphCurrent,$archiveIntervalKey}" src="{link Rrd:MeteostationGraphImage $meteoStation->id,$rrdGraphCurrent,$archiveIntervalKey}" onLoad="reload(this);">
                    </div>
                </div>

            </div>
        </div>
    </div>
{else} 
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div n:inner-foreach="$meteoStation->rrdGraphs as $rrdGraph">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fas"></i> {_$rrdGraph |firstUpper}</h2>
                    </div>
                    <div class="panel-body">
                        <a n:href="this $meteoStation->id,$rrdGraph">
                            <img id="graph-{$meteoStation->name}-{$rrdGraph}-{$archiveIntervalFirst}" class="img-responsive center-block" data-src-refresh="{link Rrd:MeteostationGraphImage $meteoStation->id,$rrdGraph,$archiveIntervalFirst}" src="{link Rrd:MeteostationGraphImage $meteoStation->id,$rrdGraph,$archiveIntervalFirst}" onLoad="reload(this);">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}
{/block}
{block scriptsAdd}
<script>
    function reload(target) {
        setTimeout(function () {
            updatePage({link reload!}, target);
        }, {$refresh});
    }
</script>
{/block}