{* Latte template *}

{block content}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fas"></i> </h2>
            </div>
            <div class="panel-body">
                <table>
                    <tbody n:inner-foreach="$info as $key => $value">
                        <tr>
                            <th>{$key}</th>
                            <td>{$value}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
