{* Latte template *}

{block content}
{if $rrdGraphCurrent !== NULL}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div n:inner-foreach="$archiveIntervalNames as $archiveIntervalKey => $archiveIntervalName">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fas"></i> {$rrdGraphCurrent |firstUpper} by {$archiveIntervalName |firstUpper}</h2>
                    </div>
                    <div class="panel-body">
                        <img id="graph-{$videoCamera->name}-{$rrdGraphCurrent}-{$archiveIntervalKey}" class="img-responsive" data-src-refresh="{link Rrd:MeteostationGraphImage $videoCamera->id,$rrdGraphCurrent,$archiveIntervalKey}" src="{link Rrd:MeteostationGraphImage $videoCamera->id,$rrdGraphCurrent,$archiveIntervalKey}" onLoad="reload(this);">
                    </div>
                </div>

            </div>
        </div>
    </div>
{else} 
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div n:inner-foreach="$videoCamera->rrdGraphs as $rrdGraph">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fas"></i> {$rrdGraph |firstUpper}</h2>
                    </div>
                    <div class="panel-body">
                        <a n:href="this $videoCamera->id,$rrdGraph">
                            <img id="graph-{$videoCamera->name}-{$rrdGraph}-{$archiveIntervalFirst}" class="img-responsive" data-src-refresh="{link Rrd:MeteostationGraphImage $videoCamera->id,$rrdGraph,$archiveIntervalFirst}" src="{link Rrd:MeteostationGraphImage $videoCamera->id,$rrdGraph,$archiveIntervalFirst}" onLoad="reload(this);">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}
{/block}
{block scriptsAdd}
<script>
    function reload(target) {
        setTimeout(function () {
            updatePage({link reload!}, target);
        }, {$refresh});
    }
</script>
{/block}