{contentType text/plain}
{block content}

### MeteoStations Options

NoMib2: Yes
SingleRequest: Yes

### MeteoStations Defaults

#  to get bits instead of bytes and graphs growing to the right
Options[_]: gauge,nopercent

{foreach $meteoStations as $meteoStation}
{if !empty($meteoStation->snmpCommunity)}
######################################################################
# System: MeteoStation {$meteoStation->name}
# Description: {$meteoStation->description}
# Contact:  
# Location:  
######################################################################

Target[{$meteoStation->name}-temp]: (.0.1.3.6.1.4.1.21287.15.14.0&.0.1.3.6.1.4.1.21287.15.15.0:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}:) *100 
Directory[{$meteoStation->name}-temp]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-temp]: 10000
YLegend[{$meteoStation->name}-temp]: Temperature
Title[{$meteoStation->name}-temp]: Temperature for {$meteoStation->description}
PageTop[{$meteoStation->name}-temp]: <h1>Temperature for {$meteoStation->description}</h1>
ShortLegend[{$meteoStation->name}-temp]: °C
Legend1[{$meteoStation->name}-temp]: Temperature
Legend2[{$meteoStation->name}-temp]: Windchill
LegendI[{$meteoStation->name}-temp]: Temperature
LegendO[{$meteoStation->name}-temp]: Windchill  
YTicsFactor[{$meteoStation->name}-temp]: 0.01
Factor[{$meteoStation->name}-temp]: 0.01

Target[{$meteoStation->name}-wind]: (.0.1.3.6.1.4.1.21287.15.4.0&.0.1.3.6.1.4.1.21287.15.5.0:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}:)*100
Directory[{$meteoStation->name}-wind]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-wind]: 1000
YLegend[{$meteoStation->name}-wind]: Wind
Title[{$meteoStation->name}-wind]: Wind speed for {$meteoStation->description}
PageTop[{$meteoStation->name}-wind]: <h1>Wind speed for {$meteoStation->description}</h1>
ShortLegend[{$meteoStation->name}-wind]: m/s
Legend1[{$meteoStation->name}-wind]: Wind Speed
Legend2[{$meteoStation->name}-wind]: Wind Gust
LegendI[{$meteoStation->name}-wind]: Wind Speed
LegendO[{$meteoStation->name}-wind]: Wind Gust 
YTicsFactor[{$meteoStation->name}-wind]: 0.01
Factor[{$meteoStation->name}-wind]: 0.01

Target[{$meteoStation->name}-humidityAbs]: (.0.1.3.6.1.4.1.21287.15.16.0&PseudoZero:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}: )*100
Directory[{$meteoStation->name}-humidityAbs]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-humidityAbs]: 2000
YLegend[{$meteoStation->name}-humidityAbs]: Humidity Abs.
Title[{$meteoStation->name}-humidityAbs]: Humidity Abs. for {$meteoStation->description}
PageTop[{$meteoStation->name}-humidityAbs]: <h1>Humidity Abs. for {$meteoStation->description}</h1>
Options[{$meteoStation->name}-humidityAbs]: gauge,nopercent,noo
ShortLegend[{$meteoStation->name}-humidityAbs]: g/m3
Legend1[{$meteoStation->name}-humidityAbs]: Humidity Abs.
LegendI[{$meteoStation->name}-humidityAbs]: Humidity Abs.
YTicsFactor[{$meteoStation->name}-humidityAbs]: 0.01
Factor[{$meteoStation->name}-humidityAbs]: 0.01

Target[{$meteoStation->name}-humidityRel]: (.0.1.3.6.1.4.1.21287.15.12.0&PseudoZero:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}: )*100
Directory[{$meteoStation->name}-humidityRel]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-humidityRel]: 10000
YLegend[{$meteoStation->name}-humidityRel]: Humidity Rel.
Title[{$meteoStation->name}-humidityRel]: Humidity Rel. for {$meteoStation->description}
PageTop[{$meteoStation->name}-humidityRel]: <h1>Humidity Rel. for {$meteoStation->description}</h1>
Options[{$meteoStation->name}-humidityRel]: gauge,nopercent,noo
ShortLegend[{$meteoStation->name}-humidityRel]: %
Legend1[{$meteoStation->name}-humidityRel]: Humidity Rel.
LegendI[{$meteoStation->name}-humidityRel]: Humidity Rel.
YTicsFactor[{$meteoStation->name}-humidityRel]: 0.01
Factor[{$meteoStation->name}-humidityRel]: 0.01

Target[{$meteoStation->name}-pressure]: (.0.1.3.6.1.4.1.21287.15.2.0&.0.1.3.6.1.4.1.21287.15.3.0:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}:)*100
Directory[{$meteoStation->name}-pressure]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-pressure]: 120000
YLegend[{$meteoStation->name}-pressure]: Pressure
Unscaled[{$meteoStation->name}-pressure]: dwmy
Title[{$meteoStation->name}-pressure]: Pressure for {$meteoStation->description}
PageTop[{$meteoStation->name}-pressure]: <h1>Pressure for {$meteoStation->description}</h1>
ShortLegend[{$meteoStation->name}-pressure]: hPa
Legend1[{$meteoStation->name}-pressure]: Pressure Abs.
Legend2[{$meteoStation->name}-pressure]: Pressure Rel.
LegendI[{$meteoStation->name}-pressure]: Pressure Abs.
LegendO[{$meteoStation->name}-pressure]: Pressure Rel.
YTicsFactor[{$meteoStation->name}-pressure]: 0.01
Factor[{$meteoStation->name}-pressure]: 0.01

Target[{$meteoStation->name}-dewPoint]: (.0.1.3.6.1.4.1.21287.15.13.0&PseudoZero:{$meteoStation->snmpCommunity}@{$meteoStation->url->host}:)*100 
Directory[{$meteoStation->name}-dewPoint]: meteo-station/{$meteoStation->name}
MaxBytes[{$meteoStation->name}-dewPoint]: 10000
YLegend[{$meteoStation->name}-dewPoint]: Dew point
Title[{$meteoStation->name}-dewPoint]: Dew point for {$meteoStation->description}
PageTop[{$meteoStation->name}-dewPoint]: <h1>Dew point for {$meteoStation->description}</h1>
Options[{$meteoStation->name}-dewPoint]: gauge,nopercent,noo
ShortLegend[{$meteoStation->name}-dewPoint]: °C
Legend1[{$meteoStation->name}-dewPoint]: Dew point
LegendI[{$meteoStation->name}-dewPoint]: Dew point
YTicsFactor[{$meteoStation->name}-dewPoint]: 0.01
Factor[{$meteoStation->name}-dewPoint]: 0.01

{/if}
{/foreach}

{/block}