{contentType text/plain}
{block content}

### VideoCameras Options

### VideoCameras Defaults


{foreach $videoCameras as $videoCamera}
{if !empty($videoCamera->snmpCommunity)}
######################################################################
# System: Network Camera {$videoCamera->name}
# Description: {$videoCamera->description}
# Contact:  
# Location:  
######################################################################

### Interface 2 >> Descr: 'eth0' | Name: '{$videoCamera->name}' | Ip: '{$videoCamera->url->host}' | Eth: '' ###

Target[{$videoCamera->name}-eth0]: \eth0:{$videoCamera->snmpCommunity}@{$videoCamera->url->host}:
Directory[{$videoCamera->name}-eth0]: video-camera/{$videoCamera->name}
SetEnv[{$videoCamera->name}-eth0]: MRTG_INT_IP="{$videoCamera->url->host}" MRTG_INT_DESCR="eth0"
MaxBytes[{$videoCamera->name}-eth0]: 1250000
Title[{$videoCamera->name}-eth0]: Traffic Analysis for Network Camera {$videoCamera->description}
PageTop[{$videoCamera->name}-eth0]: <h1>Traffic Analysis for Network Camera {$videoCamera->description}</h1>
    <div id="sysdetails">
        <table>
            <tr>
                <td>System:</td>
                <td>Network Camera in  </td>
            </tr>
            <tr>
                <td>Max Speed:</td>
                <td>1250.0 kBytes/s</td>
            </tr>
            <tr>
                <td>Ip:</td>
                <td>{$videoCamera->url->host}</td>
            </tr>
        </table>
    </div>
{/if}
{/foreach}

{/block}