    <!-- atom pager -->
{if $paginator->pageCount > 1}
    <link n:if ="!$paginator->isFirst()" rel="first" href="{link //first!}" type="application/atom+xml;profile=opds-catalog;kind=acquisition" title="First Page" / >
    <link n:if ="!$paginator->isFirst()" rel="previous" href="{link //prev!}" type="application/atom+xml;profile=opds-catalog;kind=acquisition" title="Previous Page" / >
    <link n:if ="!$paginator->isLast()" rel="next" href="{link //next!}" type="application/atom+xml;profile=opds-catalog;kind=acquisition" title="Next Page" / >
    <link n:if ="!$paginator->isLast()" rel="last" href="{link //last!}" type="application/atom+xml;profile=opds-catalog;kind=acquisition" title="Last Page" / >
{/if}
    <!-- .atom pager -->