<!-- pager -->
<nav n:if="$paginator->pageCount > 1">
    <ul class="pager">
        <li n:class="$paginator->isFirst()?disabled, previous"><a n:href="prev! $paginator->firstPage" aria-label="{_}Previous{/_}" rel="nofollow"><span aria-hidden="true">&laquo;</span> {_}Previous{/_}</a></li>
            {for $i=1, $j = pow(10,$i);$i<=$log10;$i++}
            <li n:if="$paginator->getPageCount()>($j*3)" n:class="($paginator->page < $paginator->firstPage + $j)?disabled, previous"><a n:href="prev! $j" aria-label="{_}Previous{/_}" rel="nofollow"><span aria-hidden="true">-</span> {$j}</a></li>
            {/for}        
            {foreach $steps as $step}
            <li n:class="$step == $paginator->page?disabled">
                <a n:attr="style => (($step == $paginator->page)?'background-color: #ddd;':NULL)" n:href="navigate! $step" rel="nofollow">{$step} </a>
            </li>
            <li n:if="$iterator->nextValue > $step + 1">… </li>
            {/foreach}
        <li n:class="$paginator->isLast()?disabled, next"><a n:href="next!" aria-label="{_}Next{/_}" rel="nofollow">{_}Next{/_} <span aria-hidden="true">&raquo;</span></a></li>
            {for $i=1, $j = pow(10,$i);$i<=$log10;$i++}
            <li n:if="$paginator->getPageCount()>($j*3)" n:class="($paginator->page > $paginator->lastPage - $j)?disabled, next"><a n:href="next! $j" aria-label="{_}Next{/_}" rel="nofollow"><span aria-hidden="true">+</span> {$j}</a></li>
            {/for}

    </ul>
</nav>
<!-- .pager -->
