{* Latte template *}

{block content}

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Clients IP addresses</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline" n:inner-foreach="$uniqueIPAddress as $uniqueIPAddres">
                    <li><span class="label label-info">{$uniqueIPAddres}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Clients counts</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Total :</th><td>{$visitors->total}</td>
                    </tr>
                    <tr>
                        <th>Today :</th><td>{$visitors->today}</td>
                    </tr>
                    <tr>
                        <th>Online :</th><td>{$visitors->online}</td>
                    </tr>
                </table>
            </div>
        </div>    
    </div>
</div>

<pre>
    {$info}
</pre>