{* Latte template *}

{block content}
<div class="row">
    <div class="col-md-8 col-md-offset-2">


        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#general" data-toggle="tab">General</a>
            </li>
            <li role="presentation">
                <a href="#password" data-toggle="tab">Password</a>
            </li>
            <li role="presentation">
                <a href="#roles" data-toggle="tab">Roles</a>
            </li>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="general">
                <p>
                    {control changeUserForm}
                </p>
            </div>
            <div class="tab-pane fade" id="password">
                <p>
                    {control changePasswordForm}
                </p>
            </div>
            <div class="tab-pane fade" id="roles">
                <p>
                    {control changeRolesForm}
                </p>
            </div>
        </div>



    </div>
</div>
