{* Latte template *}

{block content}
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>E-mail</th>
                    <th>Last Access</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr n:foreach="$identities as $identity">
                    <td>{$identity->username}</td>
                    <td>{$identity->displayName}</td>
                    <td>{$identity->email}</td>
                    <td>{$identity->lastLogin}</td>
                    <td>{join(';',$identity->roles)}</td>
                    <td><a class="btn btn-success" n:href="Administration:userProfile $identity->id">Edit</a></td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><a class="btn btn-success" n:href="Sign:up">New</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>