{* Latte template *}

{block content}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Url</th>
                    <th>Private/Public</th>
                    <th>MRTG</th>            
                    <th>RRD</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td colspan="7"></td>
                    <td><a class="btn btn-default" n:if="$user->isAllowed('meteoStations', 'private')" n:href="edit">New</a></td>
                </tr>
                {foreach $meteoStations as $meteoStation}
                    <tr>
                        <td>{$meteoStation->id }</td>
                        <td>{$meteoStation->name }</td>
                        <td>{$meteoStation->description }</td>
                        <td><a href="{$meteoStation->url}">{$meteoStation->url}</a></td>
                        <td><i n:if="$meteoStation->private" class="fas fa-lock" data-toggle="tooltip" data-placement="top" title="Meteo station is private"></i><i n:if="!$meteoStation->private" class="fas fa-lock-open" data-toggle="tooltip" data-placement="top" title="Meteo station is public"></i></td>
                        <td><a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, temp">temp</a>
                            <a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, wind">wind</a>
                            <a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, humidityabs">humidityabs</a>
                            <a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, humidityrel">humidityrel</a>
                            <a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, pressure">pressure</a>
                            <a class="btn btn-default" n:if="!empty($meteoStation->snmpCommunity)" n:href="Mrtg:MeteostationHistory $meteoStation->name, $meteoStation->name, dewpoint">dewpoint</a>
                        </td>
                        <td n:inner-foreach="$meteoStation->rrdGraphs as $graph">
                            <a class="btn btn-default" n:href="Rrd:Meteostation $meteoStation->id, $graph">{$graph}</a>
                        </td>
                        <td><a class="btn btn-default" n:if="$user->isAllowed('meteoStations', 'private')" n:href="edit $meteoStation->id">edit</a></td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div> 
<!-- /.row -->