{* Latte template *}

{block content}
{snippet reload}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 n:block="title" class="panel-title">{$meteoStation->description}</h1>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 panel-group">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-thermometer-three-quarters"></i> Temperature</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'temp'">
                                    <img class="img-responsive" style="border: 1px;" alt="Temperature" src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'temp', 'day'}">
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-cloud"></i> Wind speed</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'wind'">
                                    <img class="img-responsive" style="border: 1px;" alt="Wind speed" src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'wind', 'day'}">
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-tint"></i> Humidity Abs.</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'humidityabs'">
                                    <img class="img-responsive" style="border: 1px;" alt="Humidity Abs." src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'humidityabs', 'day'}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-6">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-thermometer-three-quarters"></i> Dew point</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'dewpoint'">
                                    <img class="img-responsive" style="border: 1px;" alt="Dew point" src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'dewpoint', 'day'}">
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-cloud-download-alt"></i> Pressure</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'pressure'">
                                    <img class="img-responsive" style="border: 1px;" alt="Pressure" src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'pressure', 'day'}">
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-tint"></i> Humidity Rel.</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:MeteostationHistory $meteoStation->name,$meteoStation->name, 'humidityrel'">
                                    <img class="img-responsive" style="border: 1px;" alt="Humidity Rel." src="{link Mrtg:MeteostationGraph $meteoStation->name,$meteoStation->name, 'humidityrel', 'day'}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <script>
        $(function () {
            reload();
        });
    </script>
{/snippet}
{/block}
{block scriptsAdd}
<script>

    function reload() {
        setTimeout(updateImage, {$refresh});

    }

    function updateImage() {
        $.ajax({
            url: {link reload!},
            type: "post",
            context: document.body
        }).done(function (payload) {
            for (var id in payload.snippets) {
                $("#" + id).html(payload.snippets[id]);
            }
        });
    }
</script>
{/block}