{* Latte template *}

{block content}
{snippet reload}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 n:block="title" class="panel-title">{$videoCamera->description}</h1>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 panel-group">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h2 class="panel-title"><i class="fas fa-sitemap"></i> Traffic Analysis</h2>
                            </div>
                            <div class="panel-body">
                                <a n:href="Mrtg:VideocameraHistory $videoCamera->name,$videoCamera->name, 'eth0'">
                                    <img class="img-responsive" style="border: 1px;" alt="Traffic Analysis" src="{link Mrtg:VideocameraGraph $videoCamera->name,$videoCamera->name, 'eth0', 'day'}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group col-sm-6">

                    </div>
                </div>
            </div>  
        </div>
    </div>
    <script>
        $(function () {
            reload();
        });
    </script>
{/snippet}
{/block}
{block scriptsAdd}
<script>

    function reload() {
        setTimeout(updateImage, {$refresh});

    }

    function updateImage() {
        $.ajax({
            url: {link reload!},
            type: "post",
            context: document.body
        }).done(function (payload) {
            for (var id in payload.snippets) {
                $("#" + id).html(payload.snippets[id]);
            }
        });
    }
</script>
{/block}