{* Latte template *}

{block content}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" n:block=title>Sign in</h3>
            </div>
            <div class="panel-body">
                {control signInForm}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a n:href="Sign:forgotpassword">Zapoměli jste heslo ?</a>      
    </div>
</div>


{* or use {include '../components/form.latte', form => signInForm} *}
